

<style>
    #pageWrap{
        color:blue;
        font-size: 15px;
    }
</style>

<div id="pageWrap">
    <h2 id="demo-title">Demo Title</h2>
    <p>Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. Demo text, just some dummy text here. </p>
</div>
<script>
    function testing(){
        alert('OK for Testing');
    }
    
    function getSum(x){
        return x+100;
    }
</script>